[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
mypy = "*"
leetcode = {editable = true, path = "."}
matplotlib = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
